.post {
  background-color: white;
  max-width: 500px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 45px;
}
.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post_txt {
  font-weight: normal;
  padding: 20px;
}
.post_header {
  align-items: center;
  display: flex;
  padding: 20px;
}
.post_avatar {
  margin-right: 10px;
}
